<div class="container">
<--Νame-->
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">First Name:</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
<--Last Name-->
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Last Name:</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
<--Phone Number-->
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Phone Number:</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
<--Email-->
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">E-mail:</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
<--Date of Birth-->
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Date of Birth:</span>
    <input class="form-control" type="date" aria-describedby="addon-wrapping"/>
  </div>
</div>
